.logIn-container{
    border-radius: 3px;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}

.btn-sec{
    display: flex;
    justify-content: center;
}

.btn-sec button{
    color: white;
    border: 0;
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 15px;
    margin-right: 10px;
}